<html lang="en">
<!-- Mirrored from designing-world.com/affan-1.6.0/hero-blocks.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 11 May 2024 14:00:06 GMT -->

<%- include('head.ejs') %>

<body>
    <!-- Preloader -->


    <!-- Internet Connection Status -->
    <div class="internet-connection-status" id="internetStatus"
        style="display: none; background-color: rgb(0, 184, 148);">Your internet connection is back.</div>

    <!-- Hero Block Wrapper -->
    <div class="hero-block-wrapper bg-primary">
        <!-- Styles -->
        <div class="hero-block-styles">
            <div class="hb-styles1" style="background-image: url('/views/img/core-img/dot.png')"></div>
            <div class="hb-styles2"></div>
            <div class="hb-styles3"></div>
        </div>

        <div class="custom-container">
            <!-- Skip Page -->
            <div class="skip-page">
                <a href="/login">Chuyển Tiếp</a>
            </div>

            <!-- Hero Block Content -->
            <div class="hero-block-content">
                <img class="mb-4" src="/views/img/bg-img/19.png" alt="">
                <h2 class="display-4 text-white mb-3">Chào mừng bạn đến với Haven Store</h2>
                <p class="text-white">Quản lý liên kết Shop - CTV chuyên nghiệp.</p>
                <a class="btn btn-warning btn-lg w-100" href="/login">Bắt Đầu Ngay</a>
            </div>
        </div>
    </div>

    <%- include('footer.ejs') %>

</body>
<!-- Mirrored from designing-world.com/affan-1.6.0/hero-blocks.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 11 May 2024 14:00:07 GMT -->

</html>