<html lang="en">
<!-- Mirrored from designing-world.com/affan-1.6.0/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 11 May 2024 14:00:12 GMT -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Haven Store">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="theme-color" content="#0134d4">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Title -->
  <title>Haven Store</title>

  <!-- Favicon -->
  <link rel="icon" href="img/core-img/favicon.ico">
  <link rel="apple-touch-icon" href="img/icons/icon-96x96.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/icons/icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="img/icons/icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/icons/icon-180x180.png">

  <!-- Style CSS -->
  <link rel="stylesheet" href="style.css">

  <!-- Web App Manifest -->
  <link rel="manifest" href="manifest.json">
</head>

<body>
  <style>
    #pswmeter {
      height: 4px;
      background-color: #e2e9fe;
      position: relative;
      overflow: hidden;
      border-radius: 4px;
    }

    #pswmeter .password-strength-meter-score {
      height: inherit;
      width: 0%;
      transition: .5s ease;
      background: #ea4c62;
    }

    #pswmeter .password-strength-meter-score.psms-25 {
      width: 25%;
      background: #ea4c62;
    }

    #pswmeter .password-strength-meter-score.psms-50 {
      width: 50%;
      background: #f1b10f;
    }

    #pswmeter .password-strength-meter-score.psms-75 {
      width: 75%;
      background: #1787b8;
    }

    #pswmeter .password-strength-meter-score.psms-100 {
      width: 100%;
      background: #2ecc4a;
    }
  </style>
  <!-- Preloader -->


  <!-- Internet Connection Status -->
  <div class="internet-connection-status" id="internetStatus"
    style="display: none; background-color: rgb(0, 184, 148);">Your internet connection is back.</div>

  <!-- Back Button -->
  <div class="login-back-button">
    <a href="login.html">
      <i class="bi bi-arrow-left-short"></i>
    </a>
  </div>

  <!-- Login Wrapper Area -->
  <div class="login-wrapper d-flex align-items-center justify-content-center">
    <div class="custom-container">
      <div class="text-center px-4">
        <img class="login-intro-img" src="img/bg-img/36.png" alt="">
      </div>

      <!-- Register Form -->
      <div class="register-form mt-4">
        <h6 class="mb-3 text-center">Đăng Ký để tiếp tục với Haven Store</h6>

        <form action="/register" method="post">
          <div class="form-group text-start mb-3">
            <input class="form-control" id="email" name="email" type="text" placeholder="Email address">
          </div>

          <div class="form-group text-start mb-3">
            <input class="form-control" id="username" name="username" placeholder="Số ĐT" required>
          </div>

          <div class="form-group text-start mb-3 position-relative">
            <input class="form-control" type="password" id="password" name="password" placeholder="Điền Mật Khẩu"
              required>
            <div class="position-absolute" id="password-visibility">
              <i class="bi bi-eye"></i>
              <i class="bi bi-eye-slash"></i>
            </div>
          </div>
          
          <div class="form-group text-start mb-3">
            <input class="form-control" id="reference" name="reference" placeholder="SĐT Người Giới Thiệu" required>
          </div>

          <div class="mb-3 password-strength-meter" id="pswmeter" style="display: none;">
            <div class="password-strength-meter-score"></div>
          </div>

          <div class="form-check mb-3">
            <input class="form-check-input" id="checkedCheckbox" type="checkbox" value="" checked="">
            <label class="form-check-label text-muted fw-normal" for="checkedCheckbox">I agree with the terms &amp;
              policy.</label>
          </div>
          <% if (successMessage) { %>
            <p class="success-message">
              <%= successMessage %>
            </p>
            <% } %>
          <button class="btn btn-primary w-100" type="submit">Đăng Ký</button>
        </form>

      </div>

      <!-- Login Meta -->
      <div class="login-meta-data text-center">
        <p class="mt-3 mb-0">Bạn đã có tài khoản? <a class="stretched-link" href="/login">Login</a></p>
      </div>
    </div>
  </div>

  <!-- All JavaScript Files -->
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/internet-status.js"></script>
  <script src="js/dark-rtl.js"></script>
  <script src="js/pswmeter.js"></script>
  <script src="js/active.js"></script>
  <script src="js/pwa.js"></script>




</body>
<!-- Mirrored from designing-world.com/affan-1.6.0/register.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 11 May 2024 14:00:12 GMT -->

</html>